<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="truck2obs.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <truck2obs.Properties.Settings>
            <setting name="lingo" serializeAs="String">
                <value>English</value>
            </setting>
            <setting name="backcolor" serializeAs="String">
                <value />
            </setting>
            <setting name="forecolor" serializeAs="String">
                <value />
            </setting>
            <setting name="customjobtext" serializeAs="String">
                <value />
            </setting>
            <setting name="customnojobtext" serializeAs="String">
                <value />
            </setting>
            <setting name="use_customjobtext" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="use_customnojobtext" serializeAs="String">
                <value>False</value>
            </setting>
        </truck2obs.Properties.Settings>
    </userSettings>
</configuration>